@charset "utf-8";

a {
  color: #df4863;
}

a:hover {
  color: #ff705b;
  text-decoration: none;
}

a[target="_blank"]::after {
  content:url(img/ico_blank.png);
  margin-left: 5px;
  vertical-align: middle;
}

a[href^="mailto:"]::after {
  content: url(img/ico_mail.png);
  margin-left: 5px;
  vertical-align: middle;
}

/*ウィンドウ背景色の設定*/
body {
  background-color: #fbf9cc;
  background-image: url(img/bg.png);
  background-repeat: repeat-x;
}

#contents{
  width: 792px;
  margin: 40px auto;
  padding: 40px 80px;
  border: 1px solid #6fbb9e;
  background-color: #fff;
}

#contents > section + section {
  margin-top: 80px;
}

.clear{
  clear: both;
}

.clearfix::after{
  content:"";
  display: block;
  clear: both;
}

.entryBtns {
  text-align: center;
}

.entryBtns input {
  width: 100px;
  margin: 0 10px;
  padding: 10px;
  background: #fff;
  border: 2px solid #f6bb9e;
  border-radius: 10px;
  font-size: 1em;
  -webkit-appearence: none;
}

.entryBtns input[type="submit"] {
  background: #fadccc;
}

.entryBtns input:hover {
  opacity: 0.7;
}

.entryTable{
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid #f6bb9e;
  border-collapse: collapse;
}

.entryTable th,
.entryTable td {
  padding: 10px 20px;
  border: 1px solid #f6bb9e;
}

.entryTable th {
  width: 10em;
  background-color: #ffeeee;
  text-align: left;
}

.entryTable caption {
  margin-bottom: 10px;
}

.entryTable input[type="text"],
.entryTable input[type="email"],
.entryTable textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
}

header,nav,footer {
  text-align: center;
}

h1 {
  width: 300px;
  margin: 40px auto;
  padding: 30px;
  border: 5px solid #95dbbd;
  background-color: #6fbb9a;
  color: #fff;
  font-size: 300%;
  text-align: center;
  line-height: 1;
  border-radius: 50%;
  text-shadow: 1px 1px 2px #307657;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-image: linear-gradient(to bottom, #6fbb9a, #4a9d79);
  font-family: 'Limelight', cursive;
}

.h {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px dotted #94c8b1;
  border-left: 10px solid #d0e35b;
  color: #6fbb9a;
  border-radius: 5px 0 0 5px;
}

.h-sub {
  padding:10px;
  background-color: #fbf9cc;
  color: #ff705b;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #ffd0ad inset;
}

.h-sub span{
  font-weight: normal;
}

.imgL {
  float:left;
  margin-right: 20px;
}

.imgR {
  float:right;
  margin-left: 20px;
}

.img-round {
  border-radius: 50%;
}

label,
input,
textarea,
select {
  cursor: pointer;
}

.more{
  text-align: right;
}

.more::after{
  content: url(img/ico_arrow.png);
  margin-left: 3px;
  vertical-align: middle;
}

.menu li{
  list-style-type: none;
  display: inline-block;
  width: 180px;
  margin: 0 10px;
}

.menu a{
  display:block;
  padding: 10px;
  background: #6fbb9a;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}

.menu a:hover{
  background: #90ddbb;
}

